.DS_Store

npm-debug.log

.idea

client
!/examples/client
!/test/client
coverage
node_modules
.vscode
yarn.lock
yarn-error.log

.eslintcache

test/fixtures/static-config/public/assets/non-exist.txt
test/fixtures/reload-config/main.css
test/fixtures/reload-config-2/main.css
!/test/fixtures/static-config/public/node_modules
