sudo: false

git:
  depth: 10

branches:
  only:
    - master
    - next

language: node_js

cache:
  directories:
    - node_modules
    - $HOME/.npm

matrix:
  fast_finish: true
  include:
    - env: JOB_PART=lint
      node_js: 12
    - &linux
      env: JOB_PART=test
      node_js: 12
    - <<: *linux
      node_js: 10
    - <<: *linux
      node_js: 8
    - <<: *linux
      node_js: 6
    - &osx
      os: 'osx'
      env: JOB_PART=test
      node_js: 12
    - <<: *osx
      node_js: 10
    - <<: *osx
      node_js: 8
    - <<: *osx
      node_js: 6

before_install:
  - npm i -g npm@latest

install:
  - npm ci

before_script:
  - node --version
  - npm --version

script:
  - npm run $JOB_PART

after_success:
  - npm i codecov
  - $(npm bin)/codecov
