sudo: false
language:
  node_js

node_js:
  - '9'
  - '8'
  - '6'

script:
  npm run ci

after_success:
  - cat ./coverage/coverage.json | node_modules/codecov.io/bin/codecov.io.js
  - rm -rf ./coverage
