sudo: false
branches:
  only:
    - master

language:
  node_js

node_js:
  - '8'
  - '6'
  - '4'

script:
  npm run ci

after_success:
  - cat ./coverage/coverage.json | node_modules/codecov.io/bin/codecov.io.js
  - rm -rf ./coverage
