{
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
    "curly": ["error"],
    "import/no-extraneous-dependencies": ["off"],
    "import/no-webpack-loader-syntax": ["off"],
    "import/no-unresolved": ["off"],
    "object-shorthand": ["error", "never"],
    "prefer-arrow-callback": ["off"],
    "prefer-destructuring": ["error", {"object": false, "array": false}],
    "prefer-rest-params": "off",
    "prefer-spread": ["off"],
    "prefer-template": ["off"]
  }
}
