<!DOCTYPE html>
<html>
  <head>
    <title>WDS ▻ <%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href=".assets/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Source+Sans+Pro:400,400i,500,600"
    />
    <link rel="stylesheet" href=".assets/style.css" />
  </head>
  <body>
    <main>
      <header>
        <h1>
          <img
            src=".assets/icon-square.svg"
            style="width: 35px; height: 35px;"
          />
          webpack-dev-server
        </h1>
      </header>
      <section>
        <h2><%= htmlWebpackPlugin.options.title %></h2>
        <div id="target"></div>
      </section>
    </main>
  </body>
</html>
