@font-face {
  font-family: 'Geomanist';
  font-style: normal;
  font-weight: 600;
  src: url('assets/geomanist-medium.woff2') format('woff2'),
    url('assets/geomanist-medium.woff') format('woff');
}

html,
body {
  background-color: #f3f3f3;
  color: #2b3a42;
  font: 400 10px 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #2086d7;
  text-decoration: none;
  transition: color 250ms;
}

a:hover {
  color: #1a6aab;
}

main {
  width: 100%;
  max-width: 94.2rem;
  margin: 0px auto;
  padding: 8rem 2.4rem;
}

h1 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 3.4rem;
  margin-top: 0;
  padding-top: 0;
}

h1 img {
  height: 3.4rem;
  width: 3.4rem;
  vertical-align: middle;
}

h2 {
  font-size: 2.8rem;
}

section {
  padding: 0 0 0 4.2rem;
}

div,
p,
table {
  font-size: 1.6rem;
}

code {
  background-color: rgba(70, 94, 105, 0.06);
  border-radius: 3px;
  font-family: 'Source Code Pro', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 1.44rem;
  margin: 0;
  max-width: 100%;
  line-height: initial;
  overflow: auto;
  padding: 2px 6px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  vertical-align: middle;
  white-space: normal;
}

#target {
  background: #dcf2fd;
  border: 0.1rem solid #618ca0;
  border-radius: 0.3rem;
  color: #618ca0;
  margin: 2rem 0;
  padding: 2rem;
}

#target.warn {
  background: #fcf8e3;
  border: 0.1rem solid #8a6d3b;
  color: #8a6d3b;
}

#target.pass {
  background: #f2f9f4;
  border: 0.1rem solid #4db277;
  color: #4db277;
}

#target.fail {
  background: #f2dede;
  border: 0.1rem solid #a94442;
  color: #a94442;
}
